*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}
.con{
    text-align: center;
}
#range{
    margin-top: 20px;
}
h1{
    text-transform: capitalize;
    background:linear-gradient(to left,red,green,blue,orange,gray);
    background-clip:text;
    color: transparent;
    margin: 10px 0;
}